@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lexend Deca';
    background-image: url("/assets/bg1.jfif");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
.app{
    width: 100%;
    height: 100%;
    display: flex;
}
.leftsidePage{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
}
.rightsidePage{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
}
.leftsidePage > .screen{
    top: 170px;
    display: none;
    position: absolute;
    width: 459px;
    height: 551px;
}

.leftsidePage > .screen.active{
    display: block;
}
.leftsidePage .logoImage{
    align-self: flex-start;
}
.leftsidePage .logoImage img{
    margin-top: -30px;
    margin-left:-10%;
    width: 367px;
    height: 226px;
    cursor: pointer;
}

.passwordPage .passform{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
    margin-left: 50px;
}

.newPasswordPage .passform{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
    margin-left: 50px;
}

.passform .changepassword{
    font-family: 'Frijole';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 76px;
    text-align: center;
    color: #20DF7F;
}

.passform .content{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #224957;
}

.passform .inputbox{
    margin-top: 10px;
    width: 381.44px;
    height: 32.31px;  
    font-size: 20px; 
    background: #F24822;
    border: 2px solid #F24822;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.inputbox::placeholder{
    color: black;
}

.passform .layoutContent{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 0px 10px 0px 5px;
    color: #093545;
}

.layoutContent .layoutflex{
    display: flex;
    gap: 5px
}

.passform .button{
    width: 401.44px;
    height: 52.31px;
    font-size: 16px; 
    align-self: center;
    background: #20DF7F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
}

.passform .button:hover{
    background: #06b058;
}

.rightsidePage .header{
    padding-top: 80px;
    font-family: 'Frijole';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #224957;
    height: 20%;
}

.rightsidePage .content1{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #F24822;
    padding: 0px 60px 0px 70px;
    text-align: justify;
}

.rightsidePage .groceryImage > img{
    width: 500px;
    height: 300px;
}

.passform .hideIcon{
    margin-left: 370px;
    position: absolute;
    cursor: pointer;
    margin-top: 165px;
}

.passform .hideIcon1{
    margin-left: 370px;
    position: absolute;
    cursor: pointer;
    margin-top: 250px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #093545;
    color: #111;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 50px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 50px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
